# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
form_env/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data and results (keep raw small videos locally if they’re large)
data/processed/*
results/*
models/*